body   {
    background-image:url("hero-bg.jpg");
}

#logo {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-family: monospace;
    font-weight: 900;
    margin-left: 250px;
    margin-top: 10px;
}

h1 {
    color:white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-left: 250px;
    font-size: 50px;
    margin-top: 300px;
}

.h1color {
    color:#FF4F00;
}

p {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 250px;
}

#button {
   width: 150px;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FF4F00;
   margin-left: 250px;
   border-radius: 20px;
}

.button-link {
    font-family: arial;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
  }

@media (max-width: 600px) { 
    body   {
        background-image:url("hero-bg-m.jpg");
        background-size: cover;
        
    }
    
    #logo {
        color: white;
        font-size: 25px;
        text-transform: uppercase;
        font-family: monospace;
        font-weight: 900;
        
        margin-left: auto;
    }
    
    h1 {
        color:white;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        margin-left: 50px;
        font-size: 35px;
        margin-top: 150px;
    }
    
    .h1color {
        color:#FF4F00;
    }
    
    p {
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 50px;
        margin-top: 80px;
    }
    
    #button {
       width: 150px;
       height: 70px;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: #FF4F00;
       margin-left: 50px;
       margin-top: 80px;
       border-radius: 20px;
    }
    
    .button-link {
        font-family: arial;
        text-decoration: none;
        font-size: 50px;
        color: white;
        display: block;
      }
  
}
    
